body {
    background: #eee;
}
textarea {
    width: 100%;
    min-height: 500px;
    outline: none;
}
textarea.error {
    outline: 1px solid red;
}
ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
li {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
input {
    text-indent: .5em;
}

#cart-data {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px dashed black;
}

#add-to-cart {
    display: flex;
    flex-direction: column;
}
.header {
    font-weight: bold;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.row {
    display: flex;
    width: 100%;
    margin: 10px 0;
}
.row-item {
    margin: 0 10px 0 0;
}
.col {
    width: 45%;
    margin: 0 10px;
}
.error-message {
    display: none;
    color: red;
}
.sub-label-text {
    font-size: 0.8em;
    font-style: italic;
}
.order-total {
    margin: 0 auto;
}
.error + .error-message {
    display: block;
}